@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-red: #FC4747;
    --page-black: #10141E;
    --page-blue-gray: #5A698F;
    --page-dark-blue: #161D2F;
    color: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-svg:hover {
  filter: invert(40%) sepia(53%) saturate(2690%) hue-rotate(334deg) brightness(99%) contrast(100%);
}
.active {
  filter: invert(40%) sepia(53%) saturate(2690%) hue-rotate(334deg) brightness(99%) contrast(100%);
}